.out{
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: #fff; */
}
.wrap{
    align-items: center;
    justify-content: center;
    display: flex;
}
/* *{
    margin: 0;
    padding: 0;
} */
.card{
   /*position: absolute;
   *//*top:25px;
   */width: 70vw;
   /*min-height: 400px;
   */background: url("card.jpg") no-repeat;
   background-size: cover;
   padding-left: 5%;
   /*padding-bottom: 10px;
   *//*padding-left:5px;
   *//*margin-bottom: 0;
   */z-index: 5;
   transform:scale(0.1,0.1) ;
   transition: transform 10000ms ease-in-out ;
   -webkit-transform:scale(0.1,0.1) ;
   -moz-transform:scale(0.1,0.1) ;
   -ms-transform:scale(0.1,0.1) ;
   -o-transform:scale(0.1,0.1) ;
   -webkit-transition: transform 10000ms ease-in-out ;
   -moz-transition: transform 10000ms ease-in-out ;
   -ms-transition: transform 10000ms ease-in-out ;
   -o-transition: transform 10000ms ease-in-out ;
}
.opencard{
    transform: scale(1,1);
    -webkit-transform: scale(1,1);
    -moz-transform: scale(1,1);
    -ms-transform: scale(1,1);
    -o-transform: scale(1,1);
}
.hidden{
    display: none;
    visibility: hidden;
}
.btn{
    /* bottom: 15px; */
    border-color: #658CED;
    border-width: 3px;
    font-size: 4vh;
    font-weight: 900;
    /* position: absolute; */
    /* margin-top: 0; */
    /* padding-top: 0; */
    /* font-size: ; */
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.btn:hover{
    font-size: 5vh;
    cursor: pointer;
}
.envelope{
    top: 15vh;
    position: absolute;
    /* box-sizing: border-box; */
    /* width: 200px; */
    /* height: 200px; */
    border-top: 10vh solid red;
    border-bottom: 10vh solid #C4DFF0;
    border-right: 15vh solid #C4DFF0;
    border-left: 15vh solid #A4D4F2;
    z-index: 1;
}
.top1{
    top: 15vh;
    position: absolute;
    border-top: 10vh solid #658CED;
    border-bottom: 10vh solid transparent;
    border-right: 15vh solid transparent;
    border-left: 15vh solid transparent;
    z-index: 3;
    transform:rotateX(0deg);
    transform-origin: top;

}
.top2{
    position: absolute;
    top: 15vh;
    box-sizing: border-box;
    border-top: 10vh solid #3760C9;
    border-bottom: 10vh solid transparent;
    border-right: 15vh solid transparent;
    border-left: 15vh solid transparent;
    z-index: 1;
    transform:rotateX(90deg);
    transform-origin: top;
}
.wrap:hover{
    cursor: pointer;
}
